---
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

import CalendarTable from "@components/CalendarTable.astro";
import { toTableItems } from "@libs/commonTransformer";

const model = "oil";
const collection = await getCollection(model);

const items = toTableItems(collection, model);

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <div>
        <CalendarTable
            header={[
                { key: "title", label: "Tên" },
                { key: "zone1_price", label: "Giá vùng 1" },
                { key: "zone2_price", label: "Giá vùng 2" },
            ]}
            items={items}
        />
    </div>
</Layout>
